{% extends 'principal.html' %}

{% block content %}

<h1 style="text-align: center;">Lista de Clientes</h1>
<a href="crear_cliente" style="text-decoration:none" class="btn btn-primary">Nuevo Cliente</a>
<br>

        <table class="table" id="tabla">
                <thead class="thead-light">
                    <tr>
                        <th>Cedula</th>
                        <th>Apellidos</th>
                        <th>Nombres</th>
                        <th>Telefono</th>
                        <th>Celular</th>
                        <th>Cuentas</th>
                    </tr>
                </thead>
                {% for c in lista%}
                <tbody>
                    <tr>
                        <td><a href="modificar?cedula={{c.cedula}}">{{c.cedula}}</a></td>
                        <td>{{c.apellidos}}</td>
                        <td>{{c.nombres}}</td>
                        <td>{{c.telefono}}</td>
                        <td>{{c.celular}}</td>
                        <td><a class="btn btn-primary" href="cuentas_cliente?cedula={{c.cedula}}">Ver Cuentas</a></td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>

{% endblock %}